@mixin v-app-loading {
  .v-app-loading:before {
    width: $mat-loading-animation-size;
    height: $mat-loading-animation-size;
    border-radius: 100%;
    pointer-events: none;
    border: $mat-loading-animation-thickness solid valo-font-color($mat-background-color, 0.1);
    background: $mat-background-color;
    border-top-color: $v-focus-color;
    border-right-color: $v-focus-color;
    border-radius: 100%;
    @include animation(v-rotate-360 $mat-loading-animation-speed infinite linear);
    pointer-events: none;
    .v-ie8 &, .v-ie9 & {
      border: none;
      border-radius: $v-border-radius;
      background: #fff url(#{$valo-shared-pathPrefix}img/spinner.gif) no-repeat 50% 50%;
      background-size: 80%;
    }
    .v-ie8 & {
      min-width: 30px;
      min-height: 30px;
    }
  }
}
