@mixin v-checkbox {
    .v-checkbox > input ~ label:after {
        border: 2px solid valo-font-color($v-background-color, 0.65);
    }
    .v-checkbox > input:checked ~ label:after {
        border: none;
        background: $v-selection-color;
        color: white !important;
        border: 0px solid $v-selection-color;
    }
    .v-checkbox > input ~ label:before {
        box-shadow: none !important;
        background: transparent !important;
    }
    .v-table [class*="-row"].v-selected * .v-checkbox > input:checked ~ label:after {
             background: $v-table-focus-font-color;
             color: $v-selection-color !important;
    }
    .v-table [class*="-row"].v-selected * .v-checkbox > input:not(:checked) ~ label:after {
        border: 2px solid $v-table-focus-font-color;
    }
}