@mixin v-checkbox {
  .v-checkbox > input ~ label:after {
    border: 2px solid valo-font-color($v-background-color, 0.65);
  }
  .v-checkbox > input:checked ~ label:after {
    background: $v-selection-color;
    color: white !important;
    border: 2px solid $v-selection-color;
  }
  .v-select-optiongroup:not(.large):not(.small) .v-checkbox > input:checked ~ label:after,
  .v-checkbox:not(.large):not(.small) > input:checked ~ label:after {
    line-height: $v-unit-size/2 - 2px;
  }
  .v-select-optiongroup.large .v-checkbox > input:checked ~ label:after,
  .v-checkbox.large > input:checked ~ label:after {
    line-height: $v-unit-size--large/2 - 2px;
  }
  .v-select-optiongroup.small .v-checkbox > input:checked ~ label:after,
  .v-checkbox.small > input:checked ~ label:after {
    line-height: $v-unit-size--small/2 - 2px;
  }
  .v-checkbox > input ~ label:before {
    box-shadow: none !important;
    background: transparent !important;
  }
  .v-checkbox > input ~ label:after {
    transition: all 0.1s ease !important;
  }
  .v-checkbox.switch {
    padding-left: 0;
    padding-right: ($mat-switch-width + $v-font-size);

    > input ~ label:after {
      content: "";
      left: auto;
      right: 0 !important;
      z-index: 1;
      border-radius: $mat-switch-height;
      width: $mat-switch-width;
      height: $mat-switch-height;
      border: 0 solid;
      background-color: darken($mat-background-color, 10%);
      opacity: 1;
      transition: background-color 0.3s;
    }

    > input:checked ~ label:after {
      background: lighten($v-focus-color, 20%);
      transition: background-color 0.3s;
    }

    > input ~ label:before {
      position: absolute;
      z-index: 2;
      left: auto;
      top: -($mat-switch-scale / 2);
      width: $mat-switch-thumb-width;
      height: $mat-switch-thumb-width;
      display: block;
      padding: 0 0 0 0;
      border: none !important;
      border-radius: 100%;
      box-shadow: $mat-switch-shadow !important;
    }

    > input:not(:checked) ~ label:before {
      background-color: $mat-card-color !important;
      right: ($mat-switch-width / 2);
      transition: right 0.3s, background 0.3s;
    }

    > input:checked ~ label:before {
      background-color: lighten($v-focus-color, 5%) !important;
      right: -$mat-switch-scale;
      transition: right 0.3s, background 0.3s;;
    }

    &.v-readonly, &.v-checkbox-disabled {
      pointer-events: none;
      input:checked ~ label:before {
        background-color: lighten($v-focus-color, 20%) !important;
        box-shadow: $mat-switch-shadow-disabled !important;
      }
      input:checked ~ label:after {
        background: lighten($v-focus-color, 30%);
      }
    }
  }
}