@mixin v-checkbox {
  .v-checkbox > input ~ label:after {
    border: 2px solid valo-font-color($v-background-color, 0.65);
  }
  .v-checkbox > input:checked ~ label:after {
    background: $v-selection-color;
    color: white !important;
    border: 2px solid $v-selection-color;
  }
  .v-select-optiongroup:not(.large):not(.small) .v-checkbox > input:checked ~ label:after,
  .v-checkbox:not(.large):not(.small) > input:checked ~ label:after {
    line-height: $v-unit-size/2 - 2px;
  }
  .v-select-optiongroup.large .v-checkbox > input:checked ~ label:after,
  .v-checkbox.large > input:checked ~ label:after {
    line-height: $v-unit-size--large/2 - 2px;
  }
  .v-select-optiongroup.small .v-checkbox > input:checked ~ label:after,
  .v-checkbox.small > input:checked ~ label:after {
    line-height: $v-unit-size--small/2 - 2px;
  }
  .v-checkbox > input ~ label:before {
    box-shadow: none !important;
    background: transparent !important;
  }
  .v-checkbox > input ~ label:after {
    transition: all 0.1s ease !important;
  }
}