@mixin v-datefield {
  :not(.v-component-group) > .v-datefield:not(.borderless):not(.floating):not(.custom) [class*="textfield"] {
    @extend .focus-border-bottom;
  }
  :not(.v-component-group) > .v-datefield:not(.borderless):not(.floating):not(.custom) [class*="textfield"]:not(.v-textfield-readonly):focus {
    border-bottom: 1px solid $v-selection-color;
    box-shadow: 0 1px 0 0 $v-selection-color;
  }
  :not(.v-component-group) > .v-datefield.custom [class*="textfield"] {
    @extend .focus-border-bottom;
    color: $mat-custom-color;
  }
  :not(.v-component-group) > .v-datefield.custom [class*="textfield"]:focus {
    border-bottom: 1px solid $mat-custom-color !important;
    box-shadow: 0 1px 0 0 $mat-custom-color !important;
  }
  .v-datefield.custom .v-datefield-button {
    color: $mat-custom-color;
  }
  .v-datefield.custom .v-datefield-button:hover {
    color: valo-font-color($mat-custom-color, 0.1);
  }
  .v-datefield-error:not(.borderless):not(.floating) [class*="textfield"]:focus {
    border-bottom: 1px solid $v-error-indicator-color !important;
    box-shadow: 0 1px 0 0 $v-error-indicator-color !important;
  }
  .v-datefield:not(.borderless):not(.floating) [class*="textfield-readonly"] {
    border-bottom: 1px solid;
  }
  .v-datefield.floating {
    @extend .floating-border;
  }
  .v-datefield.floating .v-datefield-textfield {
    background: transparent;
  }
  .v-component-group .v-datefield [class*="textfield"] {
    box-shadow: none;
    border-bottom: none;
    background: $mat-card-color;
  }
  .v-inline-datefield:not(.borderless) {
    @extend .floating-border;
  }
  .v-datefield-error .v-datefield-textfield {
    color: $v-error-indicator-color;
  }
  .v-datefield-popup td.v-datefield-calendarpanel-month,
  .v-inline-datefield-calendarpanel-month {
    color: valo-font-color($mat-card-color, 1.0);
  }
  .v-inline-datefield-calendarpanel-day,
  .v-datefield-popup .v-datefield-calendarpanel-day {
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 100% !important;
    border: 0 solid transparent;
    background: transparent;
  }
  .v-inline-datefield-calendarpanel-weeknumbers .v-first:before {
    box-shadow: inset -2px 3px 4px -2px rgba(0, 0, 0, 0.1);
    background: mix($mat-background-color, $mat-card-color, 90%);
    top: 42px;
    border-top-right-radius: $v-border-radius;
  }
  .v-inline-datefield-calendarpanel-weeknumber,
  .v-inline-datefield-calendarpanel-weekdays.v-inline-datefield-calendarpanel-weeknumbers td:first-child {
    width: 32px;
    height: 32px;
    line-height: 32px;
  }
  .v-inline-datefield-calendarpanel-weekdays {
    height: 32px;
    line-height: 32px;
  }
  .v-inline-datefield-calendarpanel-day-selected,
  .v-datefield-calendarpanel-day-selected {
    color: valo-font-color($v-focus-color, 1.0) !important;
  }
  .v-datefield-error .v-datefield-button {
    color: #d32f2f;
    opacity: 0.7;
  }
  .v-datefield-error [class*="button"]:hover {
    color: #d32f2f;
  }
  .v-datefield-error .v-datefield-button:hover {
    opacity: 1.0;
  }
  .v-datefield [class*="button"]:active:after {
    background-color: rgba(0, 0, 0, 0.0);
  }
}