@mixin v-filterselect {
    .v-filterselect:not(.borderless):not(.floating) [class*="input"] {
        @extend .focus-border-bottom;
    }
    .v-filterselect-focus:not(.borderless):not(.floating) [class*="input"] {
        border-bottom: 1px solid $v-selection-color;
        box-shadow: 0 1px 0 0 $v-selection-color;
    }
    .v-filterselect-error.v-filterselect-focus:not(.borderless):not(.floating) [class*="input"] {
        border-bottom: 1px solid $v-error-indicator-color;
        box-shadow: 0 1px 0 0 $v-error-indicator-color;
    }
    .v-filterselect span.v-icon {
        width: $v-unit-size;
        line-height: $v-unit-size;
        text-align: center;
        margin-top: 0;
        padding-top: 0;
    }
    .v-filterselect-suggestpopup [class$="suggestmenu"] {
        padding: 0px 0;
    }
    .v-filterselect.floating {
        @extend .floating-border;
    }
    .v-filterselect.floating .v-filterselect-input {
        background: $mat-card-color;
    }
    .v-select-select {
        min-height: $v-unit-size;
    }
    .v-filterselect [class$="button"]:before {
        font-size: 10px;
    }
    .v-component-group .v-filterselect [class*="textfield"] {
        box-shadow: none;
    }
    .v-component-group .v-filterselect:not(.v-filterselect-no-input) [class*="input"] {
        border: none;
        box-shadow: none !important;
        background: $mat-card-color;
    }
    .v-filterselect-error .v-filterselect-input {
        color: $v-error-indicator-color;
    }
    .v-filterselect-suggestpopup .gwt-MenuItem {
        background: $mat-card-color;
        color: valo-font-color( $mat-card-color, 1);
    }
    .v-filterselect-suggestpopup .gwt-MenuItem-selected {
        background: valo-font-color( $mat-card-color, 0.1);
    }
}