body:not(.v-touch) .v-filterselect:not(.v-disabled) > .v-filterselect-button:hover {
  background: valo-font-color($v-background-color, 0.05);
}

@mixin v-filterselect {
  .v-filterselect:not(.borderless):not(.floating):not(.custom) [class*="input"] {
    @extend .focus-border-bottom;
  }
  .v-filterselect-focus:not(.borderless):not(.floating):not(.custom):not(.v-readonly) [class*="input"] {
    border-bottom: 1px solid $v-selection-color;
    box-shadow: 0 1px 0 0 $v-selection-color;
  }
  .v-filterselect.custom [class*="input"] {
    @extend .focus-border-bottom;
    color: $mat-custom-color !important;
  }
  .v-filterselect-focus.custom [class*="input"] {
    border-bottom: 1px solid $mat-custom-color !important;
    box-shadow: 0 1px 0 0 $mat-custom-color !important;
  }
  .v-filterselect.custom .v-filterselect-button {
    opacity: 0.7;
  }
  .v-filterselect.custom [class$="button"]:before {
    color: $mat-custom-color !important;
  }
  .v-filterselect .v-filterselect-button:hover {
    opacity: 1.0;
  }
  .v-filterselect-error.v-filterselect-focus:not(.borderless):not(.floating) [class*="input"] {
    border-bottom: 1px solid $v-error-indicator-color !important;
    box-shadow: 0 1px 0 0 $v-error-indicator-color !important;
  }
  .v-filterselect span.v-icon {
    width: $v-unit-size;
    line-height: $v-unit-size;
    text-align: center;
    margin-top: 0;
    margin-left: 0;
    padding-top: 0;
  }
  .v-filterselect:not(.v-disabled) > .v-filterselect-button {
    transition: background .3s;
  }
  :not(.v-component-group) > .v-filterselect:not(.v-disabled):not(.floating) > .v-filterselect-button {
    bottom: 1px;
  }
  .v-filterselect-suggestpopup [class$="suggestmenu"] {
    padding: 0px 0;
    background-color: $mat-card-color;
  }
  .v-filterselect-suggestpopup .gwt-MenuItem:active:before {
    background: transparent;
  }
  .v-filterselect.floating {
    @extend .floating-border;
  }
  .v-filterselect.floating .v-filterselect-input {
    background: $mat-card-color;
  }
  .v-select-select {
    min-height: $v-unit-size;
  }
  .v-filterselect [class$="button"]:before {
    font-size: 10px;
  }
  .v-component-group .v-filterselect [class*="textfield"] {
    box-shadow: none;
  }
  .v-component-group .v-filterselect:not(.v-filterselect-no-input) [class*="input"] {
    border: none !important;
    box-shadow: none !important;
    background: $mat-card-color !important;
  }
  .v-filterselect-error .v-filterselect-input {
    color: $v-error-indicator-color;
  }
  .v-filterselect-suggestpopup .gwt-MenuItem {
    background: $mat-card-color;
    transition: background 0.3s;
    color: valo-font-color($mat-card-color, 1);
  }
  .v-filterselect-suggestpopup .gwt-MenuItem-selected {
    background: valo-font-color($mat-card-color, 0.1);
  }
  .v-filterselect[class*="prompt"] > [class*="input"] {
    color: $v-font-color;
  }
  .v-filterselect-borderless.v-filterselect-prompt .v-filterselect-input {
    opacity: 1.0;
  }
  .v-filterselect-error .v-filterselect-button {
    opacity: 0.7;
  }
  .v-filterselect-error [class$="button"]:before {
    color: $v-error-indicator-color !important;
  }
  .v-filterselect .v-filterselect-button:hover {
    opacity: 1.0;
  }
}
