@mixin v-label {
    .v-label-success:not(.borderless),
    .v-label-failure:not(.borderless) {
        @extend .z-depth-1;
    }
    .v-label-success {
        background: $v-friendly-color;
        color: valo-font-color($v-friendly-color, 1.0);
    }
    .v-label-success:before {
        color: valo-font-color($v-friendly-color, 1.0);
    }
    .v-label-failure {
        background: $v-error-indicator-color;
        color: valo-font-color($v-error-indicator-color, 1.0);
    }
    .v-label-failure:before {
        color: valo-font-color($v-error-indicator-color, 1.0);
    }
}