@mixin v-menu {
  .valo-menu-responsive {
    @include width-range($min: 801px) {
      .valo-menu-part {
        @extend .z-depth-5;
      }
    }
    @include width-range($max: 800px) {
      .valo-menuitems {
        box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.0), 0px 0px 0px 0px rgba(0, 0, 0, 0.0), 0 0px 0px 0px rgba(0, 0, 0, 0.0);
      }
      .valo-menu-visible .valo-menuitems {
        box-shadow: 0 24px 24px 2px rgba(0, 0, 0, 0.3), 0px 30px 30px 5px rgba(0, 0, 0, 0.4), 0 8px 10px -5px rgba(0, 0, 0, 0.5);
      }
    }
  }
  .valo-menu-part {
    background: $mat-card-color;
  }
  .v-menubar-user-menu .v-menubar-menuitem-selected:hover {
    color: $v-focus-color;
  }
  .valo-menu-item:hover {
    color: inherit;
  }
  .valo-menu-item:focus, .valo-menu-item:hover, .valo-menu-item.selected {
    color: inherit;
    background: valo-font-color($mat-card-color, 0.125);
  }
  .valo-menu-item.selected .v-icon {
    color: valo-font-color($mat-card-color, 0.7);
  }
  .valo-menu-subtitle {
    font-size: 1rem !important;
    color: valo-font-color($mat-card-color) !important;
    margin: 9px 0 9px 23px !important;
  }
  .valo-menu {
    color: valo-font-color($mat-card-color);
  }
  .valo-menu-item [class*="badge"] {
    color: valo-font-color($v-focus-color) !important;
    border-radius: 30px !important;
    padding: 4px 7px;
  }
}