@mixin v-menu {
  .valo-menu-responsive {
    @include width-range($min: 801px) {
      .valo-menu-part {
        @extend .z-depth-3;
      }
    }
    @include width-range($max: 800px) {
      .valo-menu-toggle {
        top: 0px;
        left: 0px;
        line-height: $v-unit-size--large !important;
        height: $v-unit-size--large !important;
        color: valo-font-color($v-focus-color);
        z-index: 9002 !important;
      }
      .valo-menu-title {
        z-index: 9001;
        height: $v-unit-size--large !important;
        @extend .z-depth-3;
      }
      .v-menubar-user-menu {
        color: $mat-card-color !important;
        z-index: 9002 !important;
        height: $v-unit-size--large !important;
        .v-menubar-menuitem {
          line-height: $v-unit-size--large !important;
        }
      }
      .valo-menuitems {
        @extend .z-depth-0;
        background-color: $mat-card-color;
        background-image: none;
        color: valo-font-color($mat-card-color);
      }
      .valo-menu-visible .valo-menuitems {
        @extend .z-depth-3;
      }
    }
  }
  .valo-menu-responsive[width-range~="801px-1100px"] .valo-menu-part {
    background-color: $mat-card-color;
  }
  .v-menubar-user-menu .v-menubar-menuitem:hover {
    color: inherit !important;
    background: rgba(valo-font-color($v-focus-color), 0.1);
  }
  .valo-menu-part {
    background: $mat-card-color;
  }
  .v-menubar-user-menu .v-menubar-menuitem-selected:hover {
    color: $v-focus-color;
  }
  .valo-menu-item:focus, .valo-menu-item:hover, .valo-menu-item.selected {
    color: inherit;
    background: valo-font-color($mat-card-color, 0.125);
  }
  .valo-menu-item.selected .v-icon {
    color: valo-font-color($mat-card-color, 0.7);
  }
  .valo-menu-subtitle {
    font-size: 1rem !important;
    color: valo-font-color($mat-card-color) !important;
    margin: 9px 0 9px 21px !important;
  }
  .valo-menu {
    color: valo-font-color($mat-card-color);
  }
  .valo-menu-item {
    padding: 3px 45px 3px 23px;
    [class*="badge"] {
      color: valo-font-color($v-focus-color) !important;
      border-radius: 30px !important;
      padding: 4px 7px;
      top: 11px !important;
    }
  }
}