@mixin v-menubar {
    .v-menubar {
        color: valo-font-color($v-selection-color, 1.0);
        background: $v-selection-color;
    }
    .v-menubar-borderless {
        background: transparent;
    }
    .v-menubar > .v-menubar-menuitem {
        margin-right: 0px;
        transition: background-color .3s;
    }
    .v-menubar > .v-menubar-menuitem:not(.v-menubar-menuitem-disabled):hover {
        background: darken($v-selection-color, 5%);
        color: valo-font-color(darken($v-selection-color, 5%), 1.0);
    }
    .v-menubar > .v-menubar-menuitem-checked {
        background: darken($v-selection-color, 5%);
        color: valo-font-color(darken($v-selection-color, 5%), 1.0);
    }
    .v-menubar > .v-menubar-menuitem:hover:before {
        background-color: transparent;
    }
    .v-menubar-popup {
        padding: 0px 0;
        border-radius: $v-border-radius;
    }
    .v-menubar-popup .v-menubar-menuitem {
        line-height: 40px;
        border-radius: 0px;
    }
    .v-menubar-popup .v-menubar-separator {
        margin: 0px 0;
    }
    .v-menubar-submenu:first-child.v-menubar-menuitem-selected {
        border-top-left-radius: $v-border-radius;
        border-top-right-radius: $v-border-radius;
    }
    .v-menubar-submenu:last-child.v-menubar-menuitem-selected {
        border-bottom-left-radius: $v-border-radius;
        border-bottom-right-radius: $v-border-radius;
    }
    .v-menubar.borderless .v-menubar-menuitem {
        border-radius: 0px;
    }
    .v-menubar.borderless:first-child {
        border-top-left-radius: $v-border-radius;
        border-bottom-left-radius: $v-border-radius;
    }
    .v-menubar.borderless:last-child {
        border-top-right-radius: $v-border-radius;
        border-bottom-right-radius: $v-border-radius;
    }
    .v-menubar.borderless .v-menubar-menuitem-disabled {
        color: $v-selection-color !important;
    }
    .v-menubar-popup .v-menubar-submenu-indicator + .v-menubar-menuitem-caption:after {
        line-height: 40px;
        font-size: 11px;
    }
    .v-menubar-popup .v-menubar-submenu {
        background: $mat-card-color;
    }
    .v-menubar-popup .v-menubar-menuitem {
        color: valo-font-color( $mat-background-color, 1);
    }
    .v-menubar-popup .v-menubar-menuitem-caption:before {
        color: valo-font-color( $mat-background-color, 1);
    }
    .v-menubar-popup {
        background: $mat-card-color;
    }
    .v-menubar-popup .popupContent {
        border-radius: 3px;
        overflow: hidden;
    }
}