@mixin v-menubar {
    .v-menubar:not(.primary):not(.borderless) {
        background: $mat-card-color;
        color: valo-font-color($mat-card-color, 1.0);
    }
    .v-menubar.primary:not(.borderless) {
        background: $v-selection-color;
        color: valo-font-color($v-selection-color, 1.0);
    }
    .v-menubar-borderless.primary .v-menubar-menuitem {
        color: $v-focus-color; !important;
    }
    .v-menubar-borderless:not(.primary) .v-menubar-menuitem {
        color: valo-font-color($mat-background-color, 1.0) !important;
    }
    .v-menubar > .v-menubar-menuitem {
        margin-right: 0px;
        transition: background-color .3s;
    }
    .v-menubar.primary > .v-menubar-menuitem:not(.v-menubar-menuitem-disabled):hover {
        background: darken($v-selection-color, 5%);
        color: valo-font-color(darken($v-selection-color, 5%), 1.0);
    }
    .v-menubar:not(.primary) > .v-menubar-menuitem:not(.v-menubar-menuitem-disabled):hover {
        background: darken($mat-card-color, 5%);
        color: valo-font-color(darken($mat-card-color, 5%), 1.0);
    }
    .v-menubar.primary > .v-menubar-menuitem-checked {
        background: darken($v-selection-color, 5%);
        color: valo-font-color(darken($v-selection-color, 5%), 1.0);
    }
    .v-menubar:not(.primary) > .v-menubar-menuitem-checked {
        background: darken($mat-card-color, 5%);
        color: valo-font-color(darken($mat-card-color, 5%), 1.0);
    }

    .v-menubar > .v-menubar-menuitem:hover:before {
        background-color: transparent;
    }
     .v-menubar-popup {
        background: transparent;
        overflow: hidden !important;
        padding: 0px;
        border-radius: $v-border-radius;
    }
    .v-menubar-popup .v-menubar-menuitem {
        line-height: 40px;
    }
    .v-menubar-popup .v-menubar-separator {
        margin: 0px 0;
    }
     .v-menubar-popup .v-menubar-submenu {
        background: transparent;
    }
     .v-menubar-popup .v-menubar-menuitem {
        background: $mat-card-color;
    }
     .v-menubar-popup .v-menubar-menuitem.v-menubar-menuitem-selected {
         background: valo-font-color( $mat-card-color, 0.2);
     }
    .v-menubar-popup .v-menubar-submenu-indicator + .v-menubar-menuitem-caption:after {
        line-height: 40px;
        font-size: 11px;
    }
    .v-menubar-popup .v-menubar-menuitem {
        color: valo-font-color( $mat-background-color, 1);
    }
    .v-menubar-popup .v-menubar-menuitem-caption:before {
        color: valo-font-color( $mat-background-color, 1);
    }

}