@mixin v-menubar {
    .v-menubar:not(.primary):not(.borderless):not(.v-menubar-user-menu) {
        background: $mat-card-color;
        color: valo-font-color($mat-card-color, 1.0);
    }
    .v-menubar.primary:not(.borderless) {
        background: $v-selection-color;
        color: valo-font-color($v-selection-color, 1.0);
    }
    .v-menubar-borderless.primary .v-menubar-menuitem {
        color: $v-focus-color;
    }
    .v-menubar-borderless:not(.primary) .v-menubar-menuitem {
        color: valo-font-color($mat-background-color, 1.0);
    }
    .v-menubar > .v-menubar-menuitem {
        margin-right: 0px;
        transition: background-color .3s;
    }
    .v-menubar.primary > .v-menubar-menuitem:not(.v-menubar-menuitem-disabled):hover,
    .v-menubar.primary > .v-menubar-menuitem-selected,
    .v-menubar.primary > .v-menubar-menuitem-checked
     {
        background: valo-font-color($v-selection-color, 0.1);
        color: valo-font-color(valo-font-color($v-selection-color, 0.1), 1.0);
    }
    .v-menubar:not(.primary):not(.v-menubar-user-menu) > .v-menubar-menuitem:not(.v-menubar-menuitem-disabled):hover,
    .v-menubar:not(.primary):not(.v-menubar-user-menu) > .v-menubar-menuitem-selected,
    .v-menubar:not(.primary):not(.v-menubar-user-menu) > .v-menubar-menuitem-checked
     {
        background: valo-font-color($mat-card-color, 0.1);
        color: valo-font-color( valo-font-color($mat-card-color, 0.1), 1.0);
    }
    .v-menubar-borderless .v-menubar-menuitem {
        border-radius: 0px !important;
    }
    .v-menubar-borderless :first-child {
        border-top-left-radius: 2px !important;
        border-bottom-left-radius: 2px !important;
    }
    .v-menubar-borderless :last-child {
        border-top-right-radius: 2px !important;
        border-bottom-right-radius: 2px !important;
    }
    .v-menubar > .v-menubar-menuitem:hover:before {
        background-color: transparent;
    }
     .v-menubar-popup {
        background: transparent;
        overflow: hidden !important;
        padding: 0px;
        border-radius: $v-border-radius;
    }
    .v-menubar-popup .v-menubar-menuitem {
        line-height: 40px;
    }
    .v-menubar-popup .v-menubar-separator {
        margin: 0px 0;
    }
     .v-menubar-popup .v-menubar-submenu {
        background: transparent;
    }
     .v-menubar-popup .v-menubar-menuitem {
        background: $mat-card-color;
    }
     .v-menubar-popup .v-menubar-menuitem.v-menubar-menuitem-selected {
         background: valo-font-color( $mat-card-color, 0.1);
     }
    .v-menubar-popup .v-menubar-submenu-indicator + .v-menubar-menuitem-caption:after {
        line-height: 40px;
        font-size: 11px;
    }
    .v-menubar-popup .v-menubar-menuitem {
        color: valo-font-color( $mat-background-color, 1);
    }
    .v-menubar-popup .v-menubar-menuitem-caption:before {
        color: valo-font-color( $mat-background-color, 1);
    }
    .v-menubar-popup .v-menubar-menuitem-disabled {
        opacity: 1.0;
        color: valo-font-color(valo-font-color( $mat-background-color, 1),0.5);
    }
}