@mixin v-panel {
  .v-panel:not(.borderless):not(.well),
  .v-csslayout-card {
    background: $mat-card-color;
  }
  .v-panel-caption {
    margin-top: 24px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    padding: 0 $mat-card-padding;
    margin-bottom: -10px;
    background: transparent;
  }
  .v-caption-card,
  .v-caption-well {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    padding-left: $mat-card-padding;
  }
  .v-panel-content > .v-margin-left, .v-csslayout-card > .v-margin-left {
    padding-left: $mat-card-padding;
  }
  .v-panel-content > .v-margin-bottom, .v-csslayout-card > .v-margin-bottom {
    padding-bottom: $mat-card-padding;
  }
  .v-panel-content > .v-margin-right, .v-csslayout-card > .v-margin-right {
    padding-right: $mat-card-padding;
  }
  .v-panel-content > .v-margin-top, .v-csslayout-card > .v-margin-top {
    padding-top: $mat-card-padding;
  }
  .v-panel-well,
  .v-csslayout-well {
    background: darken($mat-background-color, 1%);
  }
}