@mixin v-progressbar {
    $mat-track-color: valo-font-color( $mat-background-color, 0.2) !default;
    .v-progressbar-wrapper {
        height: 5px;
        border-radius: 0px;
    }
    .v-progressbar-indicator {
        border-radius: 0px;
    }
    .v-progressbar-point .v-progressbar-indicator:before {
        width: 6px;
    }
    .v-slider-base {
        border-radius: 0px;
    }
    .v-slider-base:after {
        border-radius: 0px;
    }
    .v-slider-handle {
        opacity: 1.0;
        transition: opacity 0.2s ease;
    }
    .v-slider-handle-active {
        opacity: 0;
    }
    .v-slider-feedback {
        padding: 0px;
        margin-left: 2px;
        margin-top: -4px;
        width: 30px !important;
        height: 30px !important;
        border-bottom-left-radius: 0;
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%;
        border-top-left-radius: 100%;
        transform: rotate(-45deg);
        background: $v-focus-color;
        color: valo-font-color($v-focus-color, 1.0);
        transition: opacity 0.2s ease;
        animation: valo-animate-in-slide-up .5s, valo-animate-in-fade .5s;
    }
    .v-slider-feedback .popupContent {
        transform: rotate(45deg);
        text-align: center;
        line-height: 35px;
    }
    .v-slider-handle:before {
        background: $v-selection-color;
        box-shadow: none;
    }
    .v-slider-handle:before,
    .demo .v-slider-handle:after {
        margin-top: 8px;
    }
    .v-slider-base {
        height: 4px;
    }
    .v-slider-vertical .v-slider-base {
        width: 4px;
    }
    .v-slider-base {
        background: $mat-track-color;
    }
    .v-slider-vertical .v-slider-base {
        background: $mat-track-color;
    }
    .v-progressbar-wrapper {
        background: $mat-track-color;
    }
    .v-slider-vertical .v-slider-handle:before,
    .v-slider-vertical .v-slider-handle:after {
        width: 18px;
        height: 18px;
        margin-left: -7px;
    }
    .v-slider-handle:before,
    .v-slider-handle:after {
        margin-top: 10px;
    }
    .v-slider-handle:before,
    .v-slider-handle:after {
        width: 18px;
        height: 18px;
    }

}