@mixin v-tabsheet {
    .v-tabsheet-framed > .v-tabsheet-tabcontainer .v-caption {
        border: 1px solid transparent;
    }
    .v-tabsheet-tabitem .v-caption {
        font-size: 15px;
        text-align: center;
        line-height: 24px;
        padding: 12px 24px;
        text-transform: uppercase;
        font-weight: 500;
        margin-left: 0px;
    }
    .v-tabsheet-framed > .v-tabsheet-tabcontainer .v-tabsheet-caption-close {
        top: 0px;
        right: 4px;
        margin-top: 11px;
    }
}