@mixin v-textarea {
    .v-textarea:not(.borderless) {
        @extend .floating-border;
    }
    .v-textarea-borderless {
        @extend .z-depth-0;
    }
    .v-richtextarea:not(.borderless) {
        @extend .floating-border;
    }
}