$mat-background-color:  #303030;
$mat-custom-color: #00bcd4;
$mat-upload: false;
$v-unit-size: 40px ! default;

@import "../material/material.scss";

.demo {
	@include material;
	.v-menubar-no-indicator .v-menubar-submenu-indicator + .v-menubar-menuitem-caption:after {
          content: none;
    }
    .v-menubar-no-indicator > .v-menubar-menuitem .v-icon {
         margin: 0 0 0 0;
    }
}
