@mixin cards {
    .material-card {
        padding: 20px;
        border-radius: 2px;
        background: $mat-card-color;
    }
    .card-0 {
        @extend .z-depth-0;
        @extend .material-card;
    }
    .card-1 {
        @extend .z-depth-1;
        @extend .material-card;
    }
    .card-2 {
        @extend .z-depth-2;
        @extend .material-card;
    }
    .card-3 {
        @extend .z-depth-3;
        @extend .material-card;
    }
    .card-4 {
        @extend .z-depth-4;
        @extend .material-card;
    }
    .card-5 {
        @extend .z-depth-5;
        @extend .material-card;
    }
    .card-hoverable {
        @extend .hoverable;
        @extend .material-card;
    }
    .card-hoverable:hover {
        @extend .z-depth-2;
    }
}