@mixin v-csslayout {
    .v-csslayout-v-component-group .v-widget ~ .v-widget {
        margin-left: -6px;
    }
    .v-csslayout-v-component-group .v-widget ~ .v-widget:not(:last-child) {
        clip-path: inset(-5px 3px -5px 3px);
    }
    .v-csslayout-v-component-group .v-widget:last-child, .v-csslayout-v-component-group .v-caption:last-child + .v-widget  {
        border-radius: 0 2px 2px 0;
        clip-path: inset(-5px -5px -5px 3px);
    }
    .v-csslayout-v-component-group .v-widget:first-child, .v-csslayout-v-component-group .v-caption:first-child + .v-widget {
        clip-path: inset(-5px 3px -5px -5px);
    }
    .v-component-group .v-button {
        padding: 0 16px;
    }
}