@mixin v-datefield {
    .v-datefield {
        border-radius: 0px;
    }
    .v-datefield [class*="textfield"] {
        @extend .focus-border-bottom;
    }
    .v-datefield [class*="textfield"]:focus {
        border-bottom: 1px solid $v-selection-color;
        box-shadow: 0 1px 0 0 $v-selection-color;
    }
   .v-datefield-error [class*="textfield"]:focus {
        border-bottom: 1px solid $v-error-indicator-color;
        box-shadow: 0 1px 0 0 $v-error-indicator-color;
    }
     .v-datefield [class*="textfield-readonly"] {
        border-bottom: 1px solid;
    }
    .v-csslayout-v-component-group .v-datefield [class*="textfield"] {
        border-bottom: none;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }
    .v-inline-datefield{
         box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }
}