@mixin v-filterselect {

    .v-filterselect:not(.v-filterselect-no-input) [class*="input"] {
        border-bottom: 1px solid $v-selection-color;
        border-radius: 0px;
        box-shadow: none;
    }
    .v-filterselect-focus:not(.v-filterselect-no-input) [class*="input"] {
        box-shadow: 0 1px 0 0 $v-selection-color;
    }
    .v-filterselect-error.v-filterselect-focus:not(.v-filterselect-no-input) [class*="input"] {
        box-shadow: 0 1px 0 0 $v-error-indicator-color;
    }
    .v-filterselect-suggestpopup [class$="suggestmenu"] {
        padding: 0px 0;
    }
     .v-filterselect-suggestpopup .gwt-MenuItem {
            line-height: 40px;
            height: 40px;
     }
    .v-select-select {
        border-bottom: 1px solid;
    }
    .v-filterselect [class$="button"]:before {
        font-size: 10px;
    }
    .v-csslayout-v-component-group .v-filterselect [class*="input"] {
        border-bottom: none;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }


}