@mixin v-menubar {
    .v-menubar > .v-menubar-menuitem {
            margin-right: 0px;
    }
    .v-menubar > .v-menubar-menuitem-checked {
        background: $v-selection-color;
        color: valo-font-color($v-selection-color,1.0);
    }
    .v-menubar-popup {
        padding: 0px 0;
        border-radius: 3px;
    }
    .v-menubar-popup .v-menubar-menuitem {
        line-height: 40px;
        border-radius: 1px;
    }
    .v-menubar-popup .v-menubar-separator {
        margin: 0px 0;
    }
   .v-menubar-submenu :first-child.v-menubar-menuitem-selected {
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }
    .v-menubar-submenu :last-child.v-menubar-menuitem-selected {
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}