@mixin v-button {
    .v-button {
        transition: box-shadow .3s ease-out, background .3s;
        text-transform: uppercase;
    }
    .v-button:not(.v-disabled):not(.borderless):not(.borderless-colored):hover {
       @extend .z-depth-2;
       background-color: valo-font-color($v-background-color, 0.05);
    }
    .v-button.v-disabled {
        background-color: valo-font-color($v-background-color, 0.2);
        color: valo-font-color(valo-font-color($v-background-color, 0.2), 0.7);
        box-shadow: none;
    }
    .friendly.v-button:not(.v-disabled):not(.borderless):not(.borderless-colored):hover {
        background-color: valo-font-color($v-friendly-color, 0.1);
    }
    .danger.v-button:not(.v-disabled):not(.borderless):not(.borderless-colored):hover {
        background-color: valo-font-color($v-error-indicator-color, 0.1);
    }
    .primary.v-button:not(.v-disabled):not(.borderless):not(.borderless-colored):hover {
        background: valo-font-color($v-selection-color, 0.1);
    }
    .v-button:hover:after {
        background-color: transparent;
    }
    .v-button-quiet {
        visibility: visible;
        @extend .z-depth-0;
    }
    .v-button.borderless:not(.v-disabled):hover,
    .v-button.borderless-colored:not(.v-disabled):hover {
        background: valo-font-color($v-background-color, 0.1);
    }
    .v-window-contents .v-button,
    .v-panel:not(.borderless):not(.v-panel-well):not(.v-component-group) .v-button,
    .v-csslayout-card .v-button {
        box-shadow: none;
    }
    .v-window-contents .v-button:hover,
    .v-panel:not(.borderless):not(.v-panel-well):not(.v-component-group) .v-button:hover,
    .v-csslayout-card .v-button:hover {
        box-shadow: none !important;
    }
}