body:not(.v-touch) .card-hoverable:hover,
body.v-touch .card-hoverable:active {
    box-shadow: $z-depth-3;
}

@mixin cards {

    .material-card {
        @extend .material-border;
        padding: $mat-card-padding;
    }
    .card-0 {
        @extend .material-card;
        @extend .z-depth-0;
    }
    .card-1 {
        @extend .material-card;
        @extend .z-depth-1;
    }
    .card-1-5 {
        @extend .material-card;
        @extend .z-depth-1-half;
    }
    .card-2 {
        @extend .material-card;
        @extend .z-depth-2;
    }
    .card-3 {
        @extend .material-card;
        @extend .z-depth-3;
    }
    .card-4 {
        @extend .material-card;
        @extend .z-depth-4;
    }
    .card-5 {
        @extend .material-card;
        @extend .z-depth-5;
    }
    .card-hoverable {
        @extend .hoverable;
        @extend .material-card;
    }
}