@mixin functions {
    .focus-border-bottom {
        border-bottom: 1px solid;
        border-radius: 0px;
        transition: box-shadow .2s ease-out;
        box-shadow: $z-depth-0;
        background: transparent;
    }
    .material-border {
        border-radius: $v-border-radius;
        border: none;
        background: $mat-card-color;
        overflow: hidden;
    }
    .floating-border {
        @extend .material-border;
        @extend .z-depth-1;
    }
}