@function material-hover-color($background-color, $strength: $mat-button-hover-modifier, $opacity: 1.0) {
  $color: $background-color;
  @if saturation($background-color) > 0.1 {
    @if is-dark-color($background-color) {
      $color: scale-color($color, $lightness: $strength, $saturation: saturation($background-color) + 0.1);
    } @else {
      $color: scale-color($color, $lightness: -$strength, $saturation: saturation($background-color) + 0.1);
    }
  } @else {
    @if is-dark-color($background-color) {
      $color: scale-color($color, $lightness: $strength, $saturation: 0%);
    } @else {
      $color: scale-color($color, $lightness: -$strength, $saturation: 0%);
    }
  }
  @return rgba($color, $opacity);
}

@mixin functions {
  .focus-border-bottom {
    border-bottom: 1px solid;
    border-radius: 0px;
    transition: box-shadow .2s ease-out;
    box-shadow: $z-depth-0;
    background: transparent;
  }
  .material-border {
    border-radius: $v-border-radius;
    border: none;
    background: $mat-card-color;
    overflow: hidden;
  }
  .floating-border {
    @extend .material-border;
    @extend .z-depth-1;
  }
}