@import "variables.scss";
@import "../valo/valo.scss";

$v-included-components: remove($v-included-components, button);
@import "functions.scss";
@import "materialize/globals.scss";
@import "components/v-window.scss";
@import "components/v-panel.scss";
@import "ripple/ripple.scss";
@import "components/v-button.scss";
@import "components/v-textfield.scss";
@import "components/v-filterselect.scss";
@import "components/v-progressbar.scss";
@import "components/v-accordion.scss";
@import "components/v-menubar.scss";
@import "components/v-datefield.scss";
@import "components/v-label.scss";
@import "components/v-textarea.scss";
@import "components/v-csslayout.scss";
@import "components/v-table.scss";
@import "components/v-grid.scss";
@import "components/v-select-twincol.scss";
@import "components/v-checkbox.scss";
@import "components/v-radiobutton.scss";
@import "components/v-splitpanel.scss";
@import "components/v-tabsheet.scss";
@import "components/v-window.scss";
@import "components/v-loading.scss";
@import "components/v-notification.scss";
@import "components/v-upload.scss";
@import "components/v-tooltip.scss";
@import "components/v-colorpicker.scss";
@import "components/v-menu.scss";
@import "components/v-app-loading.scss";
@import "scrollbar.scss";

@import "cards.scss";
@mixin material {
  @include valo;
  @include functions;
  @include globals;
  @include cards;
  @include v-panel;
  @include ripple;
  @include v-button;
  @include v-textfield;
  @include v-filterselect;
  @include v-progressbar;
  @include v-accordion;
  @include v-menubar;
  @include v-datefield;
  @include v-label;
  @include v-textarea;
  @include v-table;
  @include v-grid;
  @include v-select-twincol;
  @include v-checkbox;
  @include v-radiobutton;
  @include v-splitpanel;
  @include v-tabsheet;
  @include v-window;
  @include v-csslayout;
  @include v-loading;
  @include v-notification;
  @include v-upload;
  @include v-tooltip;
  @include v-colorpicker;
  @include v-menu;
  @include v-app-loading;

}
