*::-webkit-scrollbar {
  height: 11px;
  overflow: visible;
  width: 11px;
}

*::-webkit-scrollbar-thumb {
  background: $mat-scroll-bar-color;
  background-clip: padding-box;
  border: 2px solid transparent;
}